<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>URL Shortener!</title>
    
</head>

<body>
    <div class="centerarea">

        <form action="/" method="post" accept-charset="utf-8">
            <div class="long">
                <p> 
                Choose your action: 
                <select name="action_id" id="action_id">
                    <option value="shorten">shorten</option>
                    <option value="long">long</option>
                </select>
                </p>
                <input type="text" name="inputurl" value="">
                <input type="submit" value="Submit">
            </div>
        </form>

    </div>
</body>
</html>
